*.class

# Package Files #
*.jar
*.war
*.ear

hu.documaison.gui/.project/*

.metadata/*

hu.documaison.gui/settings.xml

!hu.documaison.settings/jaxb-api.jar

!hu.documaison.settings/jaxb-impl.jar

!*/ormlite*.jar
!*/sqlite*.jar

!hu.documaison.gui/opal-0.9.5.jar

hu.documaison.dal/documaison.db:documaison

hu.documaison.dal/settings.xml

hu.documaison.gui/documaison.db:documaison
