<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settingsData>
    <databaseFileLocation>W:\GitRepos\documaison\hu.documaison.indexing\documaison.db</databaseFileLocation>
    <evernoteIndexingEnabled>false</evernoteIndexingEnabled>
    <indexingEnabled>false</indexingEnabled>
</settingsData>
